#These are the required Python Packages#
#Use the following command install in virtualenv: env/bin/pip install -r requirements.txt

websocket
time
urllib2
websocket
config
cleverbot
ConfigParser
mcstatus
imgurpython
cv2