#These are the required Python Packages#
#Use the following command install in virtualenv: env/bin/pip install -r requirements.txt

websocket-client
config
cleverbot
mcstatus
imgurpython
cv2
-e git://github.com/dstruthers/python-slack.git@master#egg=slack
numpy
dlib
pygtail